.modal > div{
	background: #fff;
	padding: 40px;
	width: 100%;
	height: 100%;
}

.modal.show-modal{
	display: block;
	transform: translate(0px, 0px) scale(1);
	opacity: 1;
}

.note-content>div{
	padding: 20px;
}

.interactive-message > div {
	padding: 10px;
	text-align: center;
	line-height: 1.8em;
}

.message{
	text-align: center;
}

*{
	font-family: Helvetica, arial, sans-serif;
}